.mobile-nav, .header-links, .site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-links__link, .mobile-nav__link, .mobile-nav__link--current, .header-links__link, .site-nav__link, .site-nav__link--current, .logo {
  text-decoration: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15px;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer__logo {
  color: #ffffff;
  padding-bottom: 0;
}

.logo__accent {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
  }
}

.site-nav__item {
  margin-right: 50px;
  position: relative;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #2196F3;
  border-radius: 2px;
}
.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-links__link:hover, .header-links__link:focus {
  color: #2196F3;
  fill: #2196F3;
}
@media screen and (max-width: 767px) {
  .header-links__link {
    display: none;
  }
}

.header-links__item + .header-links__item {
  margin-left: 50px;
}

.header-links__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*Mobile menu styles*/
.mobile-menu {
  width: 480px;
  height: 796px;
  padding-top: 48px;
  padding-bottom: 48px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-nav__link {
  display: block;
  padding-left: 40px;
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */