.logo {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: $primary-text-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
   @extend %a;


@media screen and (min-width: 768px) {
        padding-top: 24px;
        padding-bottom: 25px;
        
    }

@media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
}
}

.footer__logo {
    justify-content: center;
    padding-top: 0;
    color: $accent-text-color; 
    padding-bottom: 0;
    font-family: 'Raleway', sans-serif;        
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
    justify-content: start;
    font-size: 26px;
    line-height: 1.19;    
}
}

.logo__accent {
    color: $accent-color;
}