/*Mobile menu styles*/

.mobile-menu {
width: 480px;
height: 796px;
padding-top: 48px;
padding-bottom: 48px;
background: $accent-text-color;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-nav {
        
@extend %ul;
}

.mobile-nav__link {
    display: block;   
    padding-left: 40px;
    color: $primary-text-color;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-bottom: 32px;
   
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--current {
        @extend %a;
    }

   
        @extend %a;
 
}

.mobile-links__link {
    @extend %a;
}



