$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$accent-text-color: #ffffff;
$primary-bg-color: #E5E5E5;
$secondary-bg-color: #F5F4FA;
$accent-bg-color: #2F303A;
$border-header-color: #ECECEC;
$border-card-color: #EEEEEE;
$social-links-color: #AFB1B8;